log/*.log
log/*.log.*
tmp/**/*
tmp/**
doc/api
doc/app
db/*.sqlite3
db/*.yml
app/stylesheets/.sass-cache
rerun.txt
.DS_Store
.rvmrc
capybara*.*
.idea
public/javascripts/cached/
public/stylesheets/cached/
public/stylesheets/compiled/
*.swp
*.orig
.sass-cache
.bundle
