!!!
%html
  %head
    %title Sassy
    =stylesheet_link_tag    "application" 
    =javascript_include_tag "application" 
    =csrf_meta_tags

  %body{ :class => "#{controller.controller_name}", :'data-controller'=>"#{controller.controller_name}", :'data-action'=>"#{controller.action_name}"  }
  .two-col
    #header
      %h1 Sassy!
    #sidebar
      Sidebar FTW
    #content
      =yield
